@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

$body-font-family: 'Karla', sans-serif;
$heading-font-family: 'DM Serif Display', sans-serif;

// Palette

$dark-grey-violet: hsl(273, 4%, 51%);
$dark-violet: hsl(270, 9%, 17%);
$violet: hsl(256, 26%, 20%);
$gray-blue: hsl(216, 30%, 68%);

$light-gray: hsl(0, 0%, 98%);

// Mixins

@mixin flex ($justify, $align, $direction, $gap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
	gap: $gap;
}
