@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
/* line 3, sections.scss */
nav {
  padding: 15px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  text-transform: uppercase; }
  /* line 8, sections.scss */
  nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px; }
    /* line 11, sections.scss */
    nav .nav .nav-item {
      padding: 20px; }
    /* line 15, sections.scss */
    nav .nav a {
      color: #837d87;
      text-decoration: none;
      letter-spacing: 1px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      /* line 21, sections.scss */
      nav .nav a:hover {
        color: black; }
    /* line 26, sections.scss */
    nav .nav .plans {
      color: black;
      border-color: #2d2640; }
      /* line 30, sections.scss */
      nav .nav .plans:hover {
        background-color: #2b272f;
        color: white; }
  /* line 37, sections.scss */
  nav .toggle {
    display: none; }

/* line 42, sections.scss */
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  text-transform: uppercase;
  background-color: #2b272f;
  position: absolute;
  width: -webkit-fill-available;
  padding: 30px 0px;
  top: 75px;
  z-index: 10;
  display: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
  /* line 54, sections.scss */
  .nav-menu .nav-item {
    padding: 20px; }
  /* line 58, sections.scss */
  .nav-menu a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  /* line 65, sections.scss */
  .nav-menu .plans {
    width: 90%;
    border-color: #fafafa;
    margin-bottom: 4em; }

/* line 72, sections.scss */
.intro {
  background-color: #2d2640;
  color: #fafafa;
  padding: 70px 100px;
  padding-bottom: 120px; }
  /* line 78, sections.scss */
  .intro::before {
    content: '';
    width: 120px;
    height: 1px;
    background-color: #fafafa;
    display: block;
    margin-bottom: 2.5em; }
  /* line 87, sections.scss */
  .intro .intro-text {
    line-height: 1.7;
    width: 50%; }
    /* line 91, sections.scss */
    .intro .intro-text h1 {
      font-size: 3.3em;
      line-height: 1;
      overflow: hidden;
      margin-bottom: 10px; }
  /* line 99, sections.scss */
  .intro .pattern {
    position: absolute;
    z-index: 2; }
    /* line 103, sections.scss */
    .intro .pattern:nth-child(1) {
      left: 0;
      width: 150px;
      top: 450px; }
    /* line 109, sections.scss */
    .intro .pattern:nth-child(6) {
      right: 0;
      top: 90px;
      width: 320px; }
  /* line 116, sections.scss */
  .intro .family {
    position: absolute;
    right: 15%;
    top: 150px;
    height: 500px; }
  /* line 123, sections.scss */
  .intro button {
    margin-top: 2em; }
  /* line 127, sections.scss */
  .intro .familyMobile {
    width: 100%; }
  /* line 131, sections.scss */
  .intro .mobile,
  .intro .familyMobile {
    display: none; }
  /* line 136, sections.scss */
  .intro .patternMobileLeft {
    left: 0;
    top: 500px;
    position: absolute; }
  /* line 142, sections.scss */
  .intro .patternMobileRight {
    right: 0;
    top: 850px;
    position: absolute; }

/* line 149, sections.scss */
.we-are-different {
  margin: auto;
  margin-top: 14em;
  color: #2b272f;
  width: 80%; }
  /* line 155, sections.scss */
  .we-are-different::before {
    content: '';
    width: 130px;
    height: 1px;
    background-color: #837d87;
    display: block;
    margin-bottom: 2.5em; }
  /* line 164, sections.scss */
  .we-are-different h1 {
    font-size: 4em;
    margin-bottom: 1em; }
  /* line 169, sections.scss */
  .we-are-different .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px; }
    /* line 174, sections.scss */
    .we-are-different .features .feature img {
      margin-bottom: 1.5em; }
    /* line 178, sections.scss */
    .we-are-different .features .feature h2 {
      margin-bottom: 15px;
      font-size: 1.8em; }

/* line 186, sections.scss */
.work {
  background-color: #2d2640;
  color: #fafafa;
  padding: 60px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 5em;
  width: 70%;
  position: relative;
  overflow: hidden; }
  /* line 198, sections.scss */
  .work h1 {
    font-size: 3.5em;
    width: 50%;
    overflow: hidden;
    line-height: 1; }
  /* line 205, sections.scss */
  .work button {
    z-index: 1; }
  /* line 209, sections.scss */
  .work .pattern {
    position: absolute;
    right: 0;
    height: 100%; }
  /* line 215, sections.scss */
  .work .patternMobile {
    display: none; }

/* line 220, sections.scss */
footer {
  background-color: #fafafa;
  text-transform: uppercase; }
  /* line 224, sections.scss */
  footer .content {
    width: 85%;
    margin: auto; }
  /* line 229, sections.scss */
  footer .pattern {
    position: absolute; }
  /* line 233, sections.scss */
  footer .patternMobile {
    position: absolute;
    display: none; }
  /* line 238, sections.scss */
  footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
    padding-bottom: 20px;
    margin-bottom: 4em;
    border-bottom: 1px solid #837d87;
    position: relative;
    z-index: 2; }
    /* line 246, sections.scss */
    footer .top .socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      gap: 20px; }
      /* line 249, sections.scss */
      footer .top .socials i {
        font-size: 2.1em; }
    /* line 254, sections.scss */
    footer .top a {
      color: #837d87;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      /* line 259, sections.scss */
      footer .top a:hover {
        color: #2b272f; }
  /* line 265, sections.scss */
  footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 220px;
    position: relative;
    z-index: 2; }
    /* line 270, sections.scss */
    footer .links h3 {
      font-family: "Karla", sans-serif;
      width: 100%;
      font-size: 1.1em;
      color: #837d87;
      margin-bottom: 1em; }
    /* line 278, sections.scss */
    footer .links section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 20px; }
      /* line 281, sections.scss */
      footer .links section a {
        width: 100%;
        text-decoration: none;
        color: #2b272f;
        font-size: 1.1em;
        font-weight: 600;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        /* line 289, sections.scss */
        footer .links section a:hover {
          text-decoration: underline; }
  /* line 296, sections.scss */
  footer .attribution {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    text-transform: capitalize; }
    /* line 302, sections.scss */
    footer .attribution a {
      color: #3e52a3; }

/* line 308, sections.scss */
h1 {
  font-size: 3em; }

/* line 312, sections.scss */
button {
  font-weight: 600;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: inherit;
  border: 1px solid white;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  /* line 326, sections.scss */
  button:hover {
    color: #2b272f;
    background-color: white; }

/* line 332, sections.scss */
.visible {
  display: block !important; }

/*# sourceMappingURL=sections.css.map */